<div class="col-md-3 col-lg-2 px-0 sidebar">
    <div class="py-2">
        <a href="#" class="sidebar-item active">
            <i class="fas fa-question-circle"></i>
            <span>Dúvidas Frequentes</span>
        </a>
        <a href="#" class="sidebar-item">
            <i class="fas fa-users"></i>
            <span>Leads</span>
        </a>
        <a href="#" class="sidebar-item">
            <i class="fas fa-user-friends"></i>
            <span>Clientes</span>
        </a>
        <a href="#" class="sidebar-item">
            <i class="fas fa-cog"></i>
            <span>Configurações</span>
        </a>
        <a href="#" class="sidebar-item">
            <i class="fas fa-chart-pie"></i>
            <span>Relatórios</span>
        </a>
        <a href="#" class="sidebar-item">
            <i class="fas fa-lock"></i>
            <span>Privacidade e Segurança</span>
        </a>
    </div>
</div>